bs4
beautifulsoup4
feedparser
flask
flask_sqlalchemy
gensim==3.8.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-translate==2.0.1
grpcio
gunicorn
lxml
matplotlib
num2words
numpy
oauth2client==1.5.2
pandas
plotly
psycopg2-binary==2.8.4
requests
scikit-learn
selenium
spacy
SQLAlchemy==1.3.16
tldextract
zlocal
urllib3